{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}
{% block content %}

    <div class="center-vertical">
    {% include "includes/alert.html" %}
<div class="password-change">
    <h1>Change Password</h1>
    <form action="{{ url_for('change_password') }}" method="post">
        <div class="form-group">
            <label for="current_password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="current_password" placeholder="Current Password" id="current_password" required>
        </div>
        <div class="form-group">
            <label for="new_password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="new_password" placeholder="New Password" id="new_password" required>
        </div>
        <div class="form-group">
            <label for="repeat_new_password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="repeat_new_password" placeholder="Repeat New Password" id="repeat_new_password" required>
        </div>
        <input type="submit" value="Change Password">
    </form>
</div>
    </div>
{% endblock %}
