{% extends 'home/layout.html' %}

{% block title %}Employee Check-in Records{% endblock %}

{% block content %}
<h2>Employee Check-in Records</h2>
    <script>
document.addEventListener('DOMContentLoaded', function () {
    function filterTable(event) {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#checkinTable tbody").rows;

        for (var i = 0; i < rows.length; i++) {
            var firstCol = rows[i].cells[0].textContent.toUpperCase();
            var secondCol = rows[i].cells[1].textContent.toUpperCase();
            if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
});
</script>

<input type="text" id="myInput" placeholder="Search for ..">

<table class="content" id="checkinTable">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Department ID</th>
            <th>Expected Arrive</th>
            <th>Actual Arrive</th>
            <th>Expected Leave</th>
            <th>Actual Leave</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>{{ record.employee_id }}</td>
            <td>{{ record.department_id }}</td>
            <td>{{ record.expected_arrive }}</td>
            <td>{{ record.actual_arrive }}</td>
            <td>{{ record.expected_leave }}</td>
            <td>{{ record.actual_leave }}</td>
            <td class="{{ 'pass' if record.status == 'pass' else 'fail' }}">{{ record.status }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
