{% extends 'home/layout.html' %}

{% block title %}Employee Holidays{% endblock %}

{% block content %}
<h2>Employee Holidays</h2>
<script>
document.addEventListener('DOMContentLoaded', function () {
    function filterTable(event) {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#holidaysTable tbody").rows;

        for (var i = 0; i < rows.length; i++) {
            var firstCol = rows[i].cells[0].textContent.toUpperCase();
            var secondCol = rows[i].cells[1].textContent.toUpperCase();
            if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
});
</script>

<input type="text" id="myInput" placeholder="Search for ..">
<table class="content" id="holidaysTable">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Department ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Type</th>
            <th>Days</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>{{ record.employee_id }}</td>
            <td>{{ record.department_id }}</td>
            <td>{{ record.start }}</td>
            <td>{{ record.end }}</td>
            <td>{{ record.type }}</td>
            <td>{{ record.days }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
