{% extends 'home/layout.html' %}

{% block title %}Employee Salary Records{% endblock %}

{% block content %}
<h2>Employee Salary Records</h2>
<script>
document.addEventListener('DOMContentLoaded', function () {
    function filterTable(event) {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#myTable tbody").rows;

        for (var i = 0; i < rows.length; i++) {
            var firstCol = rows[i].cells[0].textContent.toUpperCase();
            var secondCol = rows[i].cells[1].textContent.toUpperCase();
            if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
});
</script>

<input type="text" id="myInput" placeholder="Search for ..">
<table id="myTable" class="content">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Department ID</th>
            <th>Expected Salary</th>
            <th>Received Salary</th>
            <th>Balance</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr class="{{ record.status }}">
            <td>{{ record.employee_id }}</td>
            <td>{{ record.department_id }}</td>
            <td>{{ record.expected }}</td>
            <td>{{ record.received }}</td>
            <td>{{ record.balance }}</td>
            <td class="{{ 'status-process' if record.status == 'process' }}">{{ record.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
