
{% extends 'home/layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Check in records</h2>
<!-- <p>Welcome back, {{ username }}!</p> -->

<div class="employee-info-container">
    {% for record in records %}
    <div class="employee-card">
        <div class="info-block">
            <span class="info-title">Employee_id:</span>
            <span class="info-content"></span>
        </div>
        <div class="info-block">
            <span class="info-title">Department_id:</span>
            <span class="info-content"></span>
        </div>
        <div class="info-block">
            <span class="info-title">Expected arrive:</span>
            <span class="info-content"></span>
        </div>
        <div class="info-block">
            <span class="info-title">Actual arrive:</span>
            <span class="info-content"></span>
        </div>
        <div class="info-block">
            <span class="info-title">Expected leave:</span>
            <span class="info-content"></span>
        </div>
        <div class="info-block">
            <span class="info-title">Actual leave:</span>
            <span class="info-content"></span>
        </div>
        <div class="info-block">
            <span class="info-title">Status:</span>
            <span class="info-content"></span>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
