{% extends 'auth/auth_layout.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content%}
<div class="login">
    {% include "includes/alert.html" %}
    <h1>Login</h1>
    <div class="links">
        <a href="{{ url_for('login') }}" class="active">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
    </div>
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <div class="msg">{{ msg }}</div>
        <label for="code">Code</label>
        <select name="code" id="code">
            <option value="Verification Code">Verification Code</option>
            <option value="QR Code">QR Code</option>
        </select>
    


        <!-- <input type="radio" name="code" value="Verification Code" id="vc" required>Verification Code
        <input type="radio" name="code" value="QR Code" id="qc" required>QR Code -->
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}